body {
  background-color: #e0f7fa; 
  color: #01579b; 
}

.card {
  margin: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type='checkbox'] {
  display: none;
}

.container {

}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.card-flip {
  display: grid;
  height: 300px;
  width: 500px;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-question,
.card-answer {
  font-size: 2rem;
  text-align: center;
}

.front {
  grid-area: frontAndBack;
  background-color: #0288d1; 
  color: #ffffff;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
  background-color: #0277bd; 
  color: #ffffff;
}

input[type='checkbox']:checked+.card-container .card-flip {
  transform: rotateY(180deg);
}

.card-flip:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn {
  background-color: #01579b;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #013a63;
}