#matching-body {
    background-color: #e0f7fa; 
}
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 15px;
}

#matching-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* border: 2px solid black; */
}

#matching-topic {
    font-size: 4vw;
}
/* #progress-container {
    display: flex;
    flex-wrap: wrap;
} */

#numerical-progress {
    font-size: 2.5vw;
    font-weight: bold;
}

#question {
    font-size: 4.5vw;
    font-weight: bold;
}

#answer-container {
    min-width: 50%;
    max-width: 600px;    
    /* height: auto; */
    max-height: fit-content;
    box-sizing: border-box;
    height: 50vh;
}

.answer-option {
    transform: translateY(-1250px);
    position: relative;
    text-align: center;
    font-size: 2.5vh;
}

.answer-option:hover {
    background-color: rgb(222, 222, 222);
}

.appleImg {
    width: 100%;
    height: auto;
    display: block;
}

.answer-text {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 0, 0.5);
    z-index: 2;
    /* cursor: pointer; */
}

#endgame-button-container {
    display: flex;
    flex-direction: column;
}

#endgame-button-container .btn {
    padding: 20px;
    margin: 20px;
    font-size: 4vh;
    font-weight: bold;
}

@media (max-width: 1280px) {
    #answer-container {
        width: 100%;
        max-width: 400px;
        padding: 5px;         
    }
  
    .answer-text {
        font-size: 5vw;
    }
}

.title {
    text-align: center;
    padding: 20px;
}

#home-btn {
    background-color: #ff6600;
    border: none;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}